/.vscode/
*.pdf
/.DS_Store/
*.tar
*.exe
*.bin
*.ipch
Makefile
*.zip
p1/jy
*/.DS_Store
.DS_Store
p1/p1
*/.idea
*/.vscode
*/cmake-build-debug
*/CMakeLists.txt
p3
res
p2/moss_used.py
diff.cpp
p1/result
p2/report
p2/simple_test.cpp
p2/simple_test.cpp
p2/treeins_test.cpp
p2/treeins_test
p2/treeins_test.cpp
p2/Makefile
p2/simple_test.cpp
p2/treeins_test.cpp
p2/原p2.h
p2/simple_test.cpp
p2/treeins_test.cpp
p2/simple_test.cpp
p2/treeins_test.cpp
p3/world_type.h
p2/Makefile
p2/Makefile
p2/simple_test.cpp
p2/treeins_test.cpp
p4/_Makefile
p4/test
p4/p4
p2/treeins_test.cpp
p2/simple_test.cpp
p2/Makefile
p4/DEBUG
p4/jy
p4/result/jy
p4/sh_test/hh
p4/sh_test/hm
p4/sh_test/*_result
*.o
