/.vscode/
*.pdf
/.DS_Store/
*.tar
*.exe
*.bin
*.ipch
Makefile
*.zip
p1/jy
*/.DS_Store
.DS_Store
p1/p1
*/.idea
*/.vscode
*/cmake-build-debug
*/CMakeLists.txt
p3
res
p2/moss_used.py
diff.cpp
p1/result
p2/report
p2/simple_test.cpp
p2/simple_test.cpp
p2/treeins_test.cpp
p2/treeins_test
p2/treeins_test.cpp
p2/Makefile
p2/simple_test.cpp
p2/treeins_test.cpp
p2/原p2.h
p2/simple_test.cpp
p2/treeins_test.cpp
p2/simple_test.cpp
p2/treeins_test.cpp
p3/world_type.h
p2/Makefile
p2/Makefile
p2/simple_test.cpp
p2/treeins_test.cpp
p4/_Makefile
p4/test
p4/p4
p2/treeins_test.cpp
p2/simple_test.cpp
p2/Makefile
p4/DEBUG
p4/jy
p4/result/jy
p4/sh_test/hh
p4/sh_test/hm
p4/sh_test/*_result
*.o
p4/sh_test/others
p4/sh_test/generate
p5/calc
p5/call
p5/call_old.cpp
*.xml
p5/sh_test/*cases
p5/sh_test/*result
p5/sh_test/others
p5/sh_test/calc*
p5/sh_test/.idea/sh_test.iml
p5/sample
p5/sample.out
p5/p5
p5/a.out
p4/sh_test/hm/2019
